@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.swiper-pagination-bullet{
  background-color: #ffffff;
  opacity: .6;
}
.swiper-pagination-bullet-active{
  opacity: 1;
  background:#00880d;
}

.shadow-1{
  box-shadow: 0 0 32px #7ccc6c
}

.shadow-2{
  box-shadow: 0 0 32px #d48bc8
}

.shadow-3{
  box-shadow: 0 0 32px #e1ae62
}

.shadow-4{
  box-shadow: 0 0 32px #4ac9e3
}

#another > .swiper-pagination{
  width: 80%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 20px;
  padding-left: 20%;
  padding-bottom: 50px;
}

#another > .swiper-pagination >.swiper-pagination-bullet{
  width:215px;
  height:4px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}